.inputs input,
.signin-left img {
    width: 500px;
    padding: 1rem;
    box-sizing: border-box
}

.popup-inner {
    background: var(--primary-color);
    padding: 0 !important;
    border: 0 !important
}

span.checkbox {
    background: var(--light-panel-color)
}

.signin-right {
    color: var(--primary-color);
}

.goba p,
.sr-top {
    text-align: center
}

.sr-top {
    margin: auto;
    color: var(--primary-color);
    font-size: 1rem;
}

.inputs input {
    width: 100%;
    padding: .5rem;
    border: solid 1px var(--table-border-color);
    background: 0 0;
    color: var(--dark-panel-color);
}

.sr-part {
    display: flex
}

.socialogin,
.submit {
    width: 100%!important
}

.submit:hover {
    background: transparent;
    color: var(--primary-color);
}

.inputs div {
    margin: 1rem 0
}

.inputs {
    padding: 0 1rem
}

.goba p {
    padding: 1rem 0;
    margin: 1rem auto auto;
    background: var(--primary-color);
    color: var(--light-panel-color);
}

.g-signin2,
.socialogin div {
    margin: auto
}

.abcRioButton {
    width: 100%!important
}

.abcRioButtonContents {
    display: table;
    margin: auto!important;
    padding-right: 34px
}

.inputs input::placeholder {
    color: var(--primary-color);
}

.sr-part input.submit {
    background: var(--secondary-color);
    transition: .3s;
}

.sr-part input.submit:hover {
    background: 0 0;
}