.vote {
    padding: 0;
}

.skills {
    padding-bottom: 1rem;
}

.skil {
    display: flex;
}

.ski {
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.votelast {
    display: flex;
    flex-direction: column;
}

.vote textarea {
    margin: 2rem auto 1rem;
    width: 100%;
}

.ski label {
    cursor: pointer;
}