.tico-header p {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: auto;
}

.tico-footer p {
    font-size: 0.9rem;
    margin: auto;
    padding: 0.25rem 0;
}

.tico-header {
    padding: 0.5rem 0 1rem;
}

.tic-option {
    padding: 0.5rem 0;
}

.tic-option[data-state="disabled"] {
    display: none;
}

.tico-lane {
    padding: 0.5rem 1rem;
    margin: 0 auto;
}

.tico-lanes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 0.25rem;
}

.ticol-header {
    color: white;
}

.ticol-champion img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tico-spell {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.tico-spells {
    display: flex;
}

.ticos-header p {
    color: white;
}

.ticol-champions {
    display: flex;
    flex-wrap: wrap;
}

.ticol-champion {
    padding: 0.5rem;
    margin: auto;
}

.ticol-header span {
    color: lightgray;
    font-size: 2rem;
}

.ticos-footer img {
    width: 60px;
    height: 60px;
    margin-top: 0.5rem;
}

.tico-options {
    color: #ffc73c;
    text-align: center;
}

.pop-header {
    color: white;
    padding: 1rem 2rem;
    background: #291b2d;
}

.cancel-order {
    padding: 0;
}

.vote-boost {
    padding: 0;
}

.skills {
    padding-bottom: 1rem;
}

.skil {
    display: flex;
}

.ski {
    position: relative;
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.gsr {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: auto;
    z-index: 2;
    left: 0;
    top: 0;
}

.gsr:checked+font,
.gsr:checked+font+span {
    color: var(--gold);
}

.votelast {
    display: flex;
    flex-direction: column;
}

.vote-boost textarea {
    margin: 2rem auto 1rem;
    width: 100%;
}

.ski label {
    cursor: pointer;
}