<!DOCTYPE html>
<html lang="tr-TR">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#16081A" />
    <link rel="shortcut icon" href="/img/favicon_2.ico">
    <link rel="apple-touch-icon" href="/img/logo.png">
    <meta name="google-signin-client_id" content="1002341259414-8i6gasn2ip2eo5gumk7i87k66u8rsfvc.apps.googleusercontent.com">