@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap);
html,
body {
    min-height: 100%;
    font-family: Nunito, sans-seriff;
}

:root {
    --primary-color: #1d212c;
    --secondary-color: #ceac6e;
    --gray-color: #f3f2f0;
    --light-panel-color: #f3f3f3;
    --panel-color: #8d8d8d;
    --medium-panel-color: #4a4a4a;
    --dark-panel-color: #000000;
    --secondary-color: #ec3944;
    --table-border-color: var(--light-panel-color);
}